.App {
 
}

@import url('https://fonts.googleapis.com/css?family=Exo:700');
@import url('https://fonts.googleapis.com/css?family=Abel');

.FullContent {
  display: flex;
  width: 100%;
  min-height: 95vh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #5757573f; */
  background-color: #171717;
}
.in-fullcont{
  display: flex;
  text-align: center;
  width: 80%;
  min-height: 95vh;
  min-width: 30vw;
  align-items: center;
  flex-direction: column;
  background-color: #222222;
  padding: 30px;
  margin: 60px;
}

.btn {
  border: none;
  color: #ff6600;
  background-color: rgba(19, 19, 19, 0.205);
  box-shadow: rgba(117, 47, 6, 0.671) 0px 0px 11px 0px;
}

.btn:hover{
  color: rgb(255, 192, 156);
  text-shadow: 1px 1px 3px rgb(255, 230, 0), 0 0 1em rgb(38, 255, 0), 0 0 1em #ff6600;
  transform: scale(1.08);
  transition: 0.8s;
  background-color: rgba(19, 19, 19, 0.609) !important;
  box-shadow: rgba(122, 56, 21, 0.548) 0px 0px 11px 0px !important;
}

.form-group{
  color: #ff6600;
}

.jumbotron{
  background-color: rgba(19, 19, 19, 0.609) ;
  min-width: 40vw;
  padding: 30px;
}

.container1 {
  display: flex;
  width: 100vw;
  min-height: 60vh;
  background-image: url("https://img00.deviantart.net/a11b/i/2018/171/5/3/american_roads_by_seven_teenth-dcexzjj.jpg")  ;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.home-content{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.home-title{
  color: #ff6600;
  font-family: "Arial Black", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  text-transform: uppercase;
}
.des-containner{
  display: flex;
  width: 80%;
  height: 80%;
  text-align: center;
}
.home-description{
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.35);
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
}

.course-description{
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.219);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  text-transform: uppercase;
}

.container2{
  display: flex;
  background-color: #222222;
  margin: 50px;
  width: 80%;
  padding: 20px;
  flex-direction: column;
}

.ctn2-content{
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.39); */
  /* margin-top: 2rem; */
  padding: 2rem;
  text-align: left;
  flex-direction: column;
}

.course-content{
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.39); */
  align-items: center;
  margin-top: 2rem;
  padding-top: 1rem;
  color: #ff6600;
  text-align: center;
  flex-direction: column;
}
.course-title-des{
  color: #ff6600;
  /* background-color: rgba(255, 255, 255, 0.35); */
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  text-transform: uppercase;
}

.course-body{
  display: flex;
  width: 80%;
  color: #ffc39b;
  text-align: justify;
  flex-direction: column;
}
.workshop-fullcontainer{
  display: flex;
  background-color: #222222;
  margin: 50px;
  width: 80%;
  align-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
.workshop-container2{
  display: flex;
  background-color: #222222;
  width: 80%;
  align-items: center;
  text-align: justify;
  align-content: center;
  flex-direction: column;
}

.workshop-container3{
  display: flex;
  background-color: #222222;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.workshop-content{
  display: flex;
  min-width: 300px;
  max-width: 32%;
  color: #ffffff;
  /* background-color: rgba(0, 0, 0, 0.39); */
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  flex-direction: column;
}
.des-workshop-content{
  display: flex;
  width: 80%;
  color: #ffffff;
  /* background-color: rgba(0, 0, 0, 0.39); */
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  flex-direction: column;
}
.workshop-body{
  display: flex;
  text-align: justify;
  flex-direction: column;
}
.ws-title{
  color: #ff6600;
  text-align: center;
}

.ctn2-content2{
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.39); */
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
}
.ctn2-secsion{
  display: flex;
  width: 45%;
  flex-direction: column;
  
}
.ctn2-title{
  color: #ff6600;
  text-align: left;
}
.ctn2-body{
  display: flex;
  text-align: justify;
  flex-direction: column;
  color: #bbbbbb ;
}


.workshop-body{
  display: flex;
  text-align: justify;
  flex-direction: column;
}

.ctn2-body2{
  display: flex;
  text-align: justify;
  flex-direction: column;
  color: #bbbbbb ;
}

.container3{
  display: flex;
  background-color: rgba(0, 0, 0, 0.246);
  flex-direction: row;
  /* margin-bottom: 2rem; */
  width: 100%;
  height: 50vh;
}

.bgimg{
  display: flex;
  width: 60%;
  height: 100%;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/003/248/673/large/son-trinh-newbegin.jpg?1471607779");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
}

.transbox {
  display: flex;
  width:100%;
  background-color: #00000070;
  border: 1px solid rgba(0, 0, 0, 0.493);
  flex-direction: column;
  /* opacity: 0.7; */
}
.contact {
  margin: 5%;
  font-weight: bold;
  color: #ff6600 ;
  opacity: 2;
}
.contact-info{
  color: #ffffff;
}

.bggif{
  display: flex;
  width: 40%;
  height: 100%;
  background-image: url("https://cdna.artstation.com/p/assets/images/images/003/254/224/original/son-trinh-beginning.gif?1471690445");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.slider {
  height: 100vh;
  margin-top: -100px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(19, 19, 19, 0.205) !important;
  box-shadow: rgba(29, 15, 7, 0.671) 0px 0px 11px 0px !important;
  z-index: 0;
  }
.navbar--color {
  background-color: rgba(19, 19, 19, 0.609) !important;
  box-shadow: rgba(122, 56, 21, 0.548) 0px 0px 11px 0px !important;
  /* box-shadow: rgba(51, 71, 91, 0.568) 0px 10px 50px -5px !important; */
}

  .navbar-brand{ 
    color: #ff6600 !important;
  }
  .navbar-brand:hover{
    /* background-color: rgb(255, 230, 198); */
    color: rgb(255, 218, 197) !important;
    text-shadow: 1px 1px 3px rgb(255, 230, 0), 0 0 2em rgb(38, 255, 0), 0 0 1em #ff6600;
    transform: scale(1.1);
  }
  .nav-link {
    color: #ff6600 !important;
  }
  .nav-link:hover{
    /* background-color: rgb(255, 230, 198); */
    color: rgb(255, 204, 174) !important;
    text-shadow: 1px 1px 3px rgb(255, 230, 0), 0 0 2em rgb(38, 255, 0), 0 0 1em #ff6600;
    transform: scale(1.05);
  }
 
  
  .dropdown-menu{
    margin-top: 0.5rem;
    background-color: rgba(19, 19, 19, 0.609) !important;
    /* background-color: rgba(0, 0, 0, 0.171) !important; */
    border: none;
  }

  .dropdown-menu--color {
    background-color: rgba(19, 19, 19, 0.609) !important;
    box-shadow: rgba(122, 56, 21, 0.548) 0px 0px 11px 0px !important;
    /* box-shadow: rgba(51, 71, 91, 0.568) 0px 10px 50px -5px !important; */
  }


/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.328) !important;
  box-sizing: border-box;
  padding: 12px 18px;
  transition: background-color 0.4s transparent;
  
} */

.info-bg {
  display: flex;
  width: 100vw;
  min-height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* style={{backgroundImage: `url(${e.image_studio})`, backgroundPosition:'center', backgroundRepeat: 'no-repeat', backgroundSize: 'cover'}} */
}
.container-map{
  display: flex;
  /* background-color: rgba(92, 92, 92, 0.39); */
  width: 80%; 
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.cs-ws-bg {
  display: flex;
  width: 300px;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  /* style={{backgroundImage: `url(${e.image_studio})`, backgroundPosition:'center', backgroundRepeat: 'no-repeat', backgroundSize: 'cover'}} */
}
.cs-ws-bg:hover{
  transform: scale(1.01);
  box-shadow: rgba(122, 56, 21, 0.548) 0px 0px 11px 0px;
  box-shadow: rgba(51, 71, 91, 0.568) 0px 10px 50px -5px;
}

.fill-color {
  display: flex;
  width: 300px;
  min-height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.63);
}

.cs-ws-title{
  color: #ff6600;
  max-width: 100%;
  /* background-color: rgba(0, 0, 0, 0.452); */
  text-align: center;
}
.cs-ws-title:hover {
  color: rgb(255, 204, 174) !important;
  text-shadow: 1px 1px 3px rgb(255, 230, 0), 0 0 2em rgb(38, 255, 0), 0 0 1em #ff6600;
  transform: scale(1.05);
}

.body-contain {
  display: flex;
  width: 90%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  
}


.post-content{
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 20px;
  background-color: #303030;
  /* box-shadow: rgba(255, 179, 135, 0.219) 0px 0px 15px 0px !important; */
}
.header-post{
  display: flex;
  text-align: left;
  /* background-color: rgba(255, 255, 255, 0.671); */
  width: 100%;
}
.h5-header-post{
  color: #0055ff;
  font-size: 1.3rem;
  margin-left: 10px;
}
.p-post-title{
  color: #999999;
  margin-left: 10px;
  font-size: 0.8rem;
  line-height: 5px;
}
.content-post-title{
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.h5-post-title{
  color: #ff6600;
  font-size: 1.3rem;
}
.content-post-body{
  display: flex;
  text-align: left;
  color: #222222;
  /* background-color: rgba(255, 255, 255, 0.308); */
  width: 90%;
  padding-left: 10px;
  min-height: 50px;
}

.h7-post-body{
  color: #ffffff;
  /* background-color: rgba(0, 0, 0, 0.35); */
  font-family: "open sans", "helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 0.1em;
  word-spacing: 0.05em;
}

.comment-box{
  display: flex;
  /* background-color: #252525; */
  color: #ffffff;
  margin: 20px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.cmt-box-show{
  background-color: #272727;
  display: flex;
  text-align: left;
  flex-direction: column;
  border-radius: 25px;
  width: 80%;
  margin: 5px;
  padding: 5px;
}
.cmt-box-header{
  display: flex;
  /* background-color: rgb(94, 107, 52); */
  justify-content: space-between;
}

.cmt-box-author{
  color: #0055ff;
  min-width: 20vh;
}
.fa-trash-alt, .fa-edit {
  color: #4d4d4d;
}
.fa-trash-alt:hover, .fa-edit:hover{
  color: #9c9c9c;
  transform: scale(1.5);
}

/* .cmt-box-body{
  display: flex;
  height: 50px;
  
  font-size: 1rem;
} */

.cmt-text-body{
  display: flex;
  text-align: left;
  /* background-color: #9c9c9c; */
  width: 90%;
  padding-left: 10px;
  min-height: 20px;
  margin: 5px;
}

.body-cmt-text{
  color: #cfcfcf;
  font-size: 1rem;
  word-spacing: 0.05em;
}

.cmt-connet-form {
  display: flex;
  width: 100%;
  justify-content: center;
}
.cmt-form{
  display: flex;
  align-items: center;
  align-content: center;
  width: 60%;
  margin-bottom: 20px;
}

.cmt-input{
  display: flex;
  width: 100%;
  flex-direction: row;
}
.inputcmt{
  border-radius: 20px;
  background-color: #3d3d3d;
}

.info-footer {
  display: flex;
  width: 100vw;
  height: 30px;
  background-image: url("https://img00.deviantart.net/a11b/i/2018/171/5/3/american_roads_by_seven_teenth-dcexzjj.jpg")  ;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(19, 19, 19, 0.205) !important;
  box-shadow: rgba(29, 15, 7, 0.671) 0px 0px 11px 0px !important;
  z-index: 0;
  padding-left: 1rem;
}
.footer--color {
  background-color: rgba(19, 19, 19, 0.609) !important;
  box-shadow: rgba(122, 56, 21, 0.548) 0px 0px 11px 0px !important;
}

.footer-h5 {
  color: #ff6600 !important;
}
.footer-h5:hover{
  color: rgb(255, 204, 174) !important;
  text-shadow: 1px 1px 3px rgb(255, 230, 0), 0 0 2em rgb(38, 255, 0), 0 0 1em #ff6600;
  transform: scale(1.01);
}




.flip-card {
  background-color: transparent;
  width: 12rem;
  height: 19rem;
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 12rem;
  height: 19rem;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 12rem;
  height: 19rem;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #524221;
  color: rgb(255, 189, 66);
  transform: rotateY(180deg);
}


.event-contain {
  display: flex;
  width: 90%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(44, 44, 44);
  margin-top: 2rem;
}

.profile-contain {
  display: flex;
  width: 70%;
  text-align: left;
  padding: 20px;
  flex-direction: column;
  background-color: rgb(77, 77, 77);
  margin-top: 2rem;
}

.about-contain {
  display: flex;
  width: 90%;
  min-height: 500px;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  background-color: rgb(39, 39, 39);
  margin-top: 1rem;
  padding: 2rem;
}


.p-studio{
  color: #ff6600;
}

.form-content {
  display: flex;
  width: 80%;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.content {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}
.card-content {
  display: flex;
  width: 80%;
  margin-top: 2rem;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 1rem;
}

.test-div{
  display: flex;
  width: 100%;
  margin-top: 20rem;
  /* height: 500px; */
  color: black;
}

.div-button {
  display: flex;
  width: 100%;
  background-color: rgba(141, 115, 91, 0.575);
  justify-content: space-evenly,
}

/* Stop------ */
.card-tab {
  background-color: #4201010e;
  width: 100vw;
  height: auto;
  -webkit-transform: perspective(900px);
  transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  text-align:center;
}

.card-font {
  font-family: 'Abel', sans-serif;
  color: white;
  text-align:center;
  font-size:12px;
  text-align: center;
  transform: translatex(12px);
}

.text-h3-card {
  font-size:25px;
  font-family: 'Abel', sans-serif;
  color:rgb(255,255,255);
  text-shadow: 0 0 2px rgb(255,255,255);
  transform: translatey(10px);
}

.card1 {
  text-align:center;
  width: 10em;
  height: 350px;
  margin: 1rem;
  background: linear-gradient(rgb(225,150,58),rgb(227,144,91));
  transition:.6s;
  
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
}
.card1:hover{
  transform: rotatex(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card1 img{
  transform: translateY(1rem);
  width: 10em;
  height:120px;
}

.card2 {
  text-align:center;
  width: 10rem;
  height: 350px;
  margin: 1rem;
  background: linear-gradient(rgb(93,94,170),rgb(93,66,103));
  animation: animate 1s linear infinite;
  transition:.6s;
  
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}
.card2:hover{
  transform: rotatex(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card2 img{
  transform: translateY(1rem);
  width: 10em;
  height:150px;
}
.card3 {
  text-align:center;
  width: 10em;
  height: 350px;
  margin: 1rem;
  background: linear-gradient(#ff5252, #b33939);
  transition:.6s;
  
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}
.card3:hover{
  transform: rotatex(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card3 img{
  transform: translateY(1rem);
  width: 10em;
  height:120px;
}